
#notification,
.widget-color,
.sidebar-widget,
.settings-modal-content,
.link-modal-content,
.unlink-modal-content,
.equationBar{
    background-color:#2A2A2A ; /** #2A2A2A **/
}

.widget-background-color{
    background-color: #272727;  /** #272727 **/
}

.dashboard-background-color{
    background-color: #101214;   /** #101214 **/
}

.portal-button:hover,
.portal-pane-button:hover,
.portal-dropdown:hover{
    background-color: #4B4B4B;   /** #4B4B4B **/
}

.widget-background-color,
.dashboard-background-color,
.settings-modal-title{
    color: lightgray;     /** lightgray **/
}

.widget-color,
.sidebar-widget,
#notification{
    color: #787878;   /** #787878 **/
}

.portal-button,
.portal-pane-button,
.portal-dropdown{
    color: #B88F51;   /** #B88F51 **/
}

.option-background {
    background-color: #333333;
}

.nav-button {
    background-color: #333333; 
    color: #B88F51;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.nav-button:hover{
    background-color: #4B4B4B; 
}

.nav-button-selected {
    background-color: #4B4B4B; 
    color: #B88F51;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.nav-label {
     background-color: #333333;
     color: #B88F51;
}

.nav-combo {
    text-align: left;
    color: #787878;
    width: 100%; 
    height: 45px;
    background-color: #333333; 
    
}

.nav-combo:focus{
  box-shadow: 0 0 5px #B88F51;
}

.li-button{
    height: 30px;
    width: 35px;
    background-color: inherit;
    border: none;
    border-radius: 4px;
    padding-bottom: 10px;
    padding-top: 6px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    position: absolute;
    right: 135px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.li-button:hover {
    background-color: #404040;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button-background {
    background-color: #333333;
}

.button-background:hover {
    background-color: #4B4B4B;
}


